
<section class="wrContent wrSpacing">
  <h1> Kontakt os</h1>
  <app-i-box class="iBoxWR" *ngFor="let iBox of i1Data" [iBox]="iBox"></app-i-box>
</section>
  
  <div class="plImg1"></div>
  <section class="wrContent"></section>
  <div class="wrGray">
    <div class="wrContent per">
      facebook mailform
      Bestyrelsen 
    </div>
  </div>
  <section class="wrContent">
  <h2>Tilmelding</h2>
  Hvis du tror at Kattegat Dykkerne kunne være en klub for dig. Er du velkommen til at se forbi klubben en tirsdag til klubaften eller tilmelde dig online via linket her under. Hvis du skulle have nogle spærgsmål kan du kontae os via mail eller telefon, de boksen Kontakt.
  <br>FORM HER!!!!!!
  </section>
  <div class="plImg1"></div>
  
  <section class="wrContent mapBox">
    <div class="google-maps">       
      <iframe src="https://www.google.com/maps/embed/v1/place?q=skakkesholm 20,+Grenaa,+Danmark&key=AIzaSyB85S0mo9-AHfVm3-KhI_sVbwN_BdELGU4" width="600" height="450" frameborder="0" style="border: 0"></iframe>
    </div>   
  </section>
  

  
 