<section class="wrContent wrSpacing">
    Priser og tilmelding
    KONTINGENT
    A-medlemskab: 4 x 350,- kr. (1.400.- årlig) 
    B-medlemskab: 700,- kr årlig. 
    Studiemedlemskab: 700,- kr årlig. 
    Børne/ungdoms medlemskab: der arbejdes pt. på emnet. 
    
    Se betingelser for medlemskab her 
    SVØMMEHALLEN 
    Sæsonkort: 330,- (Onsdag: 20.00-22.00 lørdag: 17.00-19.00) 
    
    Sæsonen starter i sep. Og slutter ved udgangen af april. 
    LUFTPÅFYLDNING
    Gratis for medlemmer (Se betingelser for medlemskab i vedtægter her) øvrige 40 - kr. pr/flaske
    BRUG AF GUMMIBÅD
    20,- Kr. pr/person, dog min 50,- Kr. + brændstof. 
    TRYKPRØVNING
    350,- kr. pr./flaske, plus fragt. 
    TURE
    Klubben arrangerer ofte ture af to til fire dages varighed, destinationerne er typisk til Norge eller Tyskland (Kreidesee) Priserne for disse ligger i størrelsesorden 1.500,- til 3.000,- alt inklusiv. Længerevarende ture til varmere himmelstrøg, bookes der ind på eksisterende ture, med mindre klubben selv kan mønstre et vist antal deltagere til en sådan tur, i så fald forhandles der frem til en meget fordelagtig pris med udbyder. 
    UDSTYRPRISER
    Grundet det store udbud af forhandlere samt diversiteten af udstyr, må vi her henvise til aktuelle forhandlere og nettet, idet det er umuligt at komme med en præcis sammensætning af noget sådant. Kontakt evt. formanden: formanden@kattegatdykkerne.dk 
  </section>
  <div class="plImg1"></div>
  
  <div class="wrGray">
      <div class="wrContent per">

      <h2>Tilmelding</h2>
      Hvis du tror at Kattegat Dykkerne kunne være en klub for dig. Er du velkommen til at se forbi klubben en tirsdag til klubaften eller tilmelde dig online via linket her under. Hvis du skulle have nogle spærgsmål kan du kontae os via mail eller telefon, de boksen Kontakt.
      <br>FORM HER!!!!!!
      </div>

    </div>

    <div class="plImg1"></div>