
<section class="wrContent wrSpacing">
  <h1>Aktiviteter</h1>

    <div class="row">    
            <div class="content"> 
                <div class="col-l-4 col-m-4 col-s-6 col-xs-12">  
                  Bliv dykker
                  For 3200 kr. kan du sammen med Kattegat Dykkerne og Dive Resort Kattegat tage et dykkercertifikat. Kattegat Dykkerne sørge for at du bliver hjulpet godt og sikkert igang med dykning. Du får: 
                  Padi Open Water Diver certifikat 
                  6 mdr medlemskab af klubben 
                  For yderligere info. Vedr. uddannelsen kontakt Klub Formanden. formanden@kattegatdykkerne.dk 
                </div>    
                <div class="col-l-4 col-m-4 col-s-6 col-xs-12">
                  Andre uddannelser
                  Klubben uddanner dykkere til flere niveauer i samarbejde med Dive Resort Kattegat ApS. 
                  Vi kan tilbyde en lang række kurser, her under er listet en del af dem: 
                  Open Water Diver 
                  Adv. Open Water Diver 
                  Rescue Diver 
                  Dive Master 
                  Nitrox & Blender 
                  Førstehjælp 
                  Speedbådsbevis 
                  Special kurser 
                   
                  For yderligere info. Vedr. uddannelsen, Kontakt Klub Formanden. 
                  formanden@kattegatdykkerne.dk 
                </div>    
                <div class="col-l-4 col-m-4 col-s-6 col-xs-12">
                  Holdstart
                  Vores fasste hold i 2015 starter: 
                   
                  Open Water Diver: 19. august. 
                  Advanced Open Water: 20. Juni.
                  Rescue Diver: september 2015.
                  Basic Nitrox: 2. september.
                   
                  Vi starter løbende kurser når der er hold til det så der kan være mulighed for andre tidspunkter end overstående.
                  Du kan se mere om kurserne på aktivitetssiden her her
                  
                  Tilmelding skal ske senest 14 dage før opstart. Mere info eller tilmelding kan ske på hto@djes.dk eller 42789605
                </div>            
            </div>    
    </div>
  </section>
  
  <div class="plImg1"></div>
  
  <div class="wrGray">
    Prøvedyk
    Vi kan tilbyde dig et prøvedyk i svømmehallen så du kan opleve at trække vejeret under vand men pas på, det er stærkt vanedannende. 
    Et prøvedyk koster 150 kr. og foregår onsdag aften mellem 20:00 og 22:00 Det kan aftales nærmere med Henrik Obsen via tlf: 42789605
        
   
  </div>
  
  <div class="plImg1"></div>
  
  <section class="wrContent mapBox">
    Priser og tilmelding
    KONTINGENT
    A-medlemskab: 4 x 350,- kr. (1.400.- årlig) 
    B-medlemskab: 700,- kr årlig. 
    Studiemedlemskab: 700,- kr årlig. 
    Børne/ungdoms medlemskab: der arbejdes pt. på emnet. 
    
    Se betingelser for medlemskab her 
    SVØMMEHALLEN 
    Sæsonkort: 330,- (Onsdag: 20.00-22.00 lørdag: 17.00-19.00) 
    
    Sæsonen starter i sep. Og slutter ved udgangen af april. 
    LUFTPÅFYLDNING
    Gratis for medlemmer (Se betingelser for medlemskab i vedtægter her) øvrige 40 - kr. pr/flaske
    BRUG AF GUMMIBÅD
    20,- Kr. pr/person, dog min 50,- Kr. + brændstof. 
    TRYKPRØVNING
    350,- kr. pr./flaske, plus fragt. 
    TURE
    Klubben arrangerer ofte ture af to til fire dages varighed, destinationerne er typisk til Norge eller Tyskland (Kreidesee) Priserne for disse ligger i størrelsesorden 1.500,- til 3.000,- alt inklusiv. Længerevarende ture til varmere himmelstrøg, bookes der ind på eksisterende ture, med mindre klubben selv kan mønstre et vist antal deltagere til en sådan tur, i så fald forhandles der frem til en meget fordelagtig pris med udbyder. 
    UDSTYRPRISER
    Grundet det store udbud af forhandlere samt diversiteten af udstyr, må vi her henvise til aktuelle forhandlere og nettet, idet det er umuligt at komme med en præcis sammensætning af noget sådant. Kontakt evt. formanden: formanden@kattegatdykkerne.dk 
  </section>
  

  
 