<nav class="navbar">  

  <div class="wrContent"> 
    <div class="brand-text"><a routerLink="/home">Kattegat Dykkerne</a></div>        

        <div class="menu">
            <ul id="desktopMenu">
              <li routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', 1]">Home</a></li>
              <li routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', 1]">Klubinfo</a></li>
              <li routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', 1]">Uddannelse</a></li>
              <li routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', 1]">Kontakt</a></li>
            </ul>

        <div id="toggleMenu" class="fa fa-bars" (click)="toggleMenu()"></div>
      </div>      
    </div>  
</nav>


<nav id="menu-panel">
        <ul class="" id="mobileMenu">
                <li routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', 1]">Home</a></li>
                <li routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', 1]">Klubinfo</a></li>
                <li routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', 1]">Uddannelse</a></li>
                <li routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', 1]">Kontakt</a></li>
         </ul>
</nav>



<section id="content"></section>
  <router-outlet></router-outlet>

<div id="menuBestilling"><ul><li class="bestillingMenuItem"><a routerLink="/addcat"><i class="fa fa-circle"></i> Opret kategori</a></li><li class="bestillingMenuItem"><a routerLink="/editcat"><i class="fa fa-circle"></i> Rediger kategori</a></li><li class="bestillingMenuItem"><a><i class="fa fa-circle-thin"></i> Opret øl</a></li><li class="bestillingMenuItem"><a><i class="fa fa-circle-thin"></i> Rediger øl</a></li></ul></div>
<div id="menuKontakt"><ul><li class="kontaktMenuItem"><a><i class="fa fa-address-card"></i> Vores adresse</a></li><li class="kontaktMenuItem"><a><i class="fa fa-envelope"></i> Send en mail</a></li><li class="kontaktMenuItem"><a><i class="fa fa-map"></i> Vis på kort</a></li></ul></div>

<footer id="footer">        
 <div class="wrContent"><div id="left">Kattegat Dykkerne, Skakkes Holm 20, 8500 Grenaa</div> <div id="right">Copyright © 2018 Kattegat Dykkerne</div></div>
</footer>

