<section class="wrContent wrSpacing">
  <h1> Om Klubben</h1>

  <img src="../assets/pBox/Klubhus.jpg" alt="klubhuset" id="image1" />
  <article class="colWR1">
      <h2>Kattegat Dykkerne, Grenaa</h2> 
    <p class="textCol">
        
        er en sportsdykkerklub, der blev stiftet den 19 marts 1995. Vi har eget selvbygget klubhus på Grenaa lystbådehavn. Huset er indrettet til at 5-6 personer kan overnatte på hems. Der er i klubhuset plads til at 16-20 personer kan spise.Klubhuset er med ovn,kaffemaskine og service til 18 personer, radio, TV, toilet.
        Klubben indeholder køkken og toilet faciliteter, yderligere er der mulighed for overnatning for 4-6 personer. Lokalerne har en størrelse, der uden problemer kan rumme ca. 16 -18 prs. I forbindelse med sociale arrangementer, og ca. 8-10 stk., når det drejer sig om undervisning. Placeringen er så tæt på vandet som det overhovedet er muligt, faktisk går vandet ind under vores terrasse. 
        
        Udenfor har vi en dejlig terrasse som ligger helt ud til lystbådehaven.
    </p>
  </article>
  
  </section>
  
  <div class="plImg1"></div>
  
  <div class="wrGray">
    <div class="wrContent per">
        <img src="../assets/Images/DSF-sh.png" alt="DSF logo" id="image2" />
        
        <div class="colWR2"><h2>Forbundet:</h2>
        <p>Klubben er underlagt Dansk Sportsdykkerforbund, som igen er medlem af CMAS, en verdens- omspændende organisation, ved navn: Confederation Mondiale des Activites Subaquatiques, med hovedsæde i Frankrig, og som varetager alt undervandssport. </p>
        <br>
        <h2>Vedtægter</h2>
          <p>Her kan du hente den nyeste udgave, af klubbens vedtægter: <a href="../assets/vedtaegter.pdf" target="_blank">Hent vedtægterne som PDF</a></p>
      
      </div>
    </div>
  </div>
  
  <div class="plImg1"></div>
  
  <section class="wrContent wrSpacing">
      <h2>Klubmateriel: </h2>
      <p class="textCol">Ud over vores klubhus råder klubben over en gummibåd med trailer, monteret med en 30 hk. motor, samt navigationsudstyr. 
        Den kan rumme fire dykkere med fuldt udstyr og en bådfører. 
        <br/><br/>
        Kompressoranlæg Vi råder over en Koltri Sub, med en luftkapacitet på 280 l/min., kompressoren er koblet op på en luft bank, med en kapacitet på 24.000 l. Klubben kan pt. håndtere atmosfærisk luft op til 300 bar. Anlægget er under stadig udbygning. 
        <br/><br/>
        Ud over luft er det også muligt at fylde NITROX og TriMix i klubben, hvis man har de fornødene certifikater.
        <br/><br/>
        Dykkerudstyr Klubben råder pt. ikke over ekstra udstyr til udlån, andet det venlige klubmedlemmer stiller til rådighed. Oxy-box Der forefindes oxygen udstyr af den vandtætte udgave. </p>
      
  </section>
  
  <div class="plImg1"></div>
  
 