@import '../Schared.scss';

#slider{
    margin-top:20px;
    width:100%; 
}

#wrSlider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/SliderImg/3.jpg');
    width:100%;
    display: none;
    height: 500px;    
}


#logo {
    width: 20%;
    position: absolute;
    left: 30px;
    top: 80px;
    z-index: 400;
    display: none;
  }

  .textCol{
   
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
   
  }

  
  //***************************** Mediaquerys *********************************************

/*  TABLET PORTRÆT - 768px og op



    --------------------------------------- */



    @media only screen and (min-width: 768px) {

        #logo {           
            top: 100px;     
            display: block;        
          }

          #wrSlider{
            display: block;            
         }
        
       
    }

    

    /*  TABLET LANDSKAB OG LILE DESKTOP - 992px og op

    

        --------------------------------------- */

    

    @media only screen and (min-width: 992px) {

        #logo {           
            top: 130px;             
          }
          #wrSlider{
            display: block;            
         }

    }

    

    /*  STOR DESKTOP - 1200px og op     

        --------------------------------------- */

@media only screen and (min-width: 1200px) {

      #logo {           
        top: 130px;             
      }
      #wrSlider{
        display: block;            
     }

@media only screen and (min-width: 1550px) {

       
        #logo {           
            top: 200px;             
          }
          #wrSlider{
            display: block;            
         }
    }
}