@import '../Schared.scss';

#slider{
    margin:40px 0 40px 0;
    width:100%; 
    min-height: 1px;
   
}

#wrSlider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/SliderImg/6.jpg');
    width:100%;
    display: none;
    height: 300px;    
}


#logo {
    width: 20%;
    position: absolute;
    left: 30px;
    top: 80px;
    z-index: 400;
    display: none;
  }


  .textCol{
   
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
   
  }
  
  //***************************** parelax *****************************************

  .plImg1 {
    background: url('../../assets/Backgrunds/back01.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 150px 0;
}




//***************************** pBox *****************************************


.pBoxWR{
    width: 100%;
    float:left;    
    margin: 30px 30px 30px 0 ;
    background-color:white;
    text-align: center;
    &:last-of-type{
        margin-right: 0;
      
      }
      
    p{
        font-size: 12px;
        padding:10px;
    }   
}

//***************************** iBox *****************************************


.iBoxWR{
    display: table;
    width: 100%;
    height: 100%;
    float:left;    
    margin: 30px 30px 30px 0 ;
    background-color:white;
    text-align: center;
    &:last-of-type{
        margin-right: 0;
      
      }

    .iconBox{
        display: table-cell;    
        width: 50px;
        height: 100%;
        background: linear-gradient($mainBlue, #bac3ca);
        color:white;
        font-size: 28px;
        padding-top: 10px;
    }
    .content{
        padding:10px;
        text-align: left;
        display: table-cell;
        width: calc(100%-50px);
        background-color: $backGray;
    }
    p{
        font-size: 12px;        
    }   
}
   

  //***************************** Forside tekst + logo *****************************


#colWR{
    width:100%;
    float: left;
    }

 #logo2{
   display:none;

 }
  //***************************** Mediaquerys *********************************************

/*  TABLET PORTRÆT - 768px og op



    --------------------------------------- */



    @media only screen and (min-width: 768px) {
        .pBoxWR{
            width: calc(50% - 30px);
            float:left;    
            margin: 50px 30px 50px 0 ;
            background-color:white;
            text-align: center;
            &:last-of-type{
                margin-right: 0;
              
              }
              
            p{
                font-size: 12px;
                padding:10px;
            }   
        }

        .iBoxWR{
            border: solid 1px red;
            display: table;
            width: calc(33% - 17px);
            height: 100%;
            float:left;    
            margin: 100px 30px 100px 0 ;
            background-color:white;
            text-align: center;
            &:last-of-type{
                margin-right: 0;
              
              }
        
            .iconBox{
                display: table-cell;    
                width: 50px;
                height: 100%;
                background: linear-gradient($mainBlue, #bac3ca);
                color:white;
                font-size: 28px;
                padding-top: 10px;
            }
            .content{
                padding:10px;
                text-align: left;
                display: table-cell;
                width: calc(100%-50px);
                background-color: $backGray;
            }
            p{
                font-size: 12px;        
            }   
        }

        .textCol{
   
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
            -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
            -moz-column-gap: 40px; /* Firefox */
            column-gap: 40px;
       
      }
       
        #logo {           
            top: 100px;     
            display: block;        
          }

          #wrSlider{
            display: block; 
            height: 300px;             
         }
        
         #colWR{
            width:100%;
            float: left;
            }
        
         #logo2{
    
            display:none;
         }
       
    }

    

    /*  TABLET LANDSKAB OG LILE DESKTOP - 992px og op

    

        --------------------------------------- */

    

    @media only screen and (min-width: 992px) {

        .iBoxWR{
            border: solid 1px red;
            display: table;
            width: calc(33% - 17px);
            height: 100%;
            float:left;    
            margin: 100px 30px 100px 0 ;
            background-color:white;
            text-align: center;
            &:last-of-type{
                margin-right: 0;
              
              }
        
            .iconBox{
                display: table-cell;    
                width: 50px;
                height: 100%;
                background: linear-gradient($mainBlue, #bac3ca);
                color:white;
                font-size: 28px;
                padding-top: 10px;
            }
            .content{
                padding:10px;
                text-align: left;
                display: table-cell;
                width: calc(100%-50px);
                background-color: $backGray;
            }
            p{
                font-size: 12px;        
            }   
        }

        #colWR{
            width:75%;
            float: left;
            }

        #logo2{
            width:20%;
            float: right;
            margin:10px 10px 60px 10px;
            display:block;
         }
       
          #wrSlider{
            display: block;   
            height: 400px;           
         }

    }

    

    /*  STOR DESKTOP - 1200px og op     

        --------------------------------------- */

@media only screen and (min-width: 1200px) {

    .iBoxWR{
        border: solid 1px red;
        display: table;
        width: calc(33% - 17px);
        height: 100%;
        float:left;    
        margin: 100px 30px 100px 0 ;
        background-color:white;
        text-align: center;
        &:last-of-type{
            margin-right: 0;
          
          }
    
        .iconBox{
            display: table-cell;    
            width: 50px;
            height: 100%;
            background: linear-gradient($mainBlue, #bac3ca);
            color:white;
            font-size: 28px;
            padding-top: 10px;
        }
        .content{
            padding:10px;
            text-align: left;
            display: table-cell;
            width: calc(100%-50px);
            background-color: $backGray;
        }
        p{
            font-size: 12px;        
        }   
    }

    .pBoxWR{
        width: calc(25% - 23px);
        
        margin: 100px 30px 100px 0 ;
        
        
        p{
            font-size: 12px;
            padding:10px;
        }   
    }

      #wrSlider{
        display: block;      
        height: 450px;        
     }

@media only screen and (min-width: 1550px) {

    .pBoxWR{
        width: calc(25% - 23px);
        
        margin: 100px 30px 100px 0 ;
        
        
        p{
            font-size: 12px;
            padding:10px;
        }   
    }
     
          #wrSlider{
            display: block;      
            height: 500px;       
         }
    }
}