@import '../Schared.scss';

#slider{
    margin-top:40px;
    width:100%; 
    min-height: 1px;
   
}

#wrSlider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/SliderImg/6.jpg');
    width:100%;
    display: none;
    height: 300px;    
}


#logo {
    width: 20%;
    position: absolute;
    left: 30px;
    top: 80px;
    z-index: 400;
    display: none;
  }

  .textCol{
   
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
   
  }
  
  //***************************** pBox *****************************************


.pBoxWR{
    width: calc(25% - 23px);
    float:left;    
    margin: 30px 30px 30px 0 ;
    background-color:white;
    text-align: center;
    &:last-of-type{
        margin-right: 0;
      
      }

      
    p{
        font-size: 12px;
        padding:10px;
    }   
}

   

  //***************************** Forside tekst + logo *****************************


#colWR{
    width:100%;
    float: left;
    }

 #logo2{
   display:none;

 }
  //***************************** Mediaquerys *********************************************

/*  TABLET PORTRÆT - 768px og op



    --------------------------------------- */



    @media only screen and (min-width: 768px) {

        #logo {           
            top: 100px;     
            display: block;        
          }

          #wrSlider{
            display: block; 
            height: 300px;             
         }
        
         #colWR{
            width:75%;
            float: left;
            }
        
         #logo2{
            width:20%;
            float: right;
            margin:10px;
            display:block;
         }
       
    }

    

    /*  TABLET LANDSKAB OG LILE DESKTOP - 992px og op

    

        --------------------------------------- */

    

    @media only screen and (min-width: 992px) {

        #logo {           
            top: 130px;             
          }
          #wrSlider{
            display: block;   
            height: 400px;           
         }

    }

    

    /*  STOR DESKTOP - 1200px og op     

        --------------------------------------- */

@media only screen and (min-width: 1200px) {

      #logo {           
        top: 130px;             
      }
      #wrSlider{
        display: block;      
        height: 450px;        
     }

@media only screen and (min-width: 1550px) {

       
        #logo {           
            top: 200px;             
          }
          #wrSlider{
            display: block;      
            height: 500px;       
         }
    }
}